/* ========== Small Desktop / Laptop (1025px → 1200px) ========== */
@media screen and (max-width: 1200px) {
    /* styles */
}

/* ========== Laptop (993px → 1024px) ========== */
@media screen and (max-width: 1024px) {
    /* styles */
}

/* ========== Small Laptop / Large Tablet (769px → 992px) ========== */
@media screen and (max-width: 992px) {

    .banner-img .tooltip-1 {
        position: absolute;
        right: -3%;
        top: 10%;
    }

    .banner-img .tooltip-2 {
        position: absolute;
        bottom: 22%;
        left: -2%;
    }

    .banner-content .white-btn {
        margin-top: 12px;
    }

    .habits-container .habits-img-box {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

}

/* ========== Tablet (641px → 768px) ========== */
@media screen and (max-width: 768px) {
    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        margin-top: 40px;
    }

    .banner-img {
        margin-top: 50px;
        width: 100%;
    }
}

/* ========== Large Mobile / Small Tablet (577px → 640px) ========== */
@media screen and (max-width: 640px) {
    /* .nav-container .menu-icon {
        display: none;
    } */
}

/* ========== Mobile (415px → 576px) ========== */
@media screen and (max-width: 576px) {
    .nav-container .menu-icon {
        display: block;
        font-size: clamp(1.75rem, 3vw, 2.25rem);
    }

    .menu .menu-link {
        display: none;
    }

    .nav-container .menu {
        border: none;
    }

    .banner-btn {
        text-align: center;
    }

    .banner-join-btn {
        padding: 14px 18px;
    }

    .banner-content .white-btn {
        padding: 14px 18px;

    }

    .banner-img {
        text-align: center;
    }

    .habits-container .habits-img-box {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        column-gap: 12px;
        row-gap: 52px;
    }
}

/* ========== Small Mobile (361px → 414px) ========== */
@media screen and (max-width: 414px) {
     .habits-container .habits-img-box {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        gap: 24px;
    }
}