/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
}

/* google font */

/* shared style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 1);
    ;
}

/* text color */
.text-color {
    color: white;
}

.container {
    max-width: min(90%, 1060px);
    margin: 0 auto;
}

/* primary color orange */
.primary-color {
    color: rgba(230, 83, 60, 1);
}

/* gray p tag color */
.gray-color {
    color: rgba(255, 255, 255, 0.5);
}

/* info text p tag */
.info-details {
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(0.875rem, 1vw, 1rem);
    font-weight: 400;
    line-height: 24px;
}

.display-flex {
    display: flex;
}

.primary-btn {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fdf0ef;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 42px;
    padding: 16px 46px;
    border: none;
    cursor: pointer;
}

.section-heading {
    font-size: clamp(1.75rem, 4vw, 3rem);
    font-weight: 900;
    margin-bottom: 0.875rem;

}

.banner,
.habits {
    margin-bottom: clamp(3rem, 6vw, 6.25rem);
}

/* shared style end */

/* ----------header style start */

/* nav area style start */
.nav-container {
    margin-top: clamp(1.125rem, 2vw, 1.5rem);
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-logo {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    font-weight: 800;
    font-style: italic;
}

.nav-container .menu {
    gap: clamp(1.75rem, 4vw, 3rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 12.5px 5px;
}

.menu .menu-list {
    list-style: none;
}

.menu .home-menu {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}

.menu .menu-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.menu-icon {
    display: none;
}

/* nav area style end */

/* --banner style start---- */
.banner .banner-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}

.banner-container .banner-content {
    max-width: 520px;
    width: 100%;
}

.banner-content .banner-heading {
    font-size: clamp(2.25rem, 4.5vw + 0.5rem, 4.375rem);
    margin-bottom: clamp(1.25rem, 2vw, 1.75rem);
}

.banner-content .banner-info {
    margin-bottom: clamp(1.25rem, 2vw, 1.75rem);
}

.banner-content .white-btn {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fdf0ef;
    background-color: transparent;
    border-radius: 42px;
    padding: 14px 46px;
    border: 1px solid #fdf0ef;
    cursor: pointer;
}

.banner-container .banner-img {
    max-width: 350px;
    width: 100%;
    vertical-align: middle;
    position: relative;
}

.banner-container .banner-img img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.banner-img .tooltip-1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 50%;
    background-color: rgba(70, 68, 68, 0.302);
    padding: 17px;
    position: absolute;
    right: -19%;
    top: 23%;
}

#count {
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 4px;
}

#tooltip-info {
    font-size: 0.875rem;
    font-weight: 400;
    color: #b9b9b9;
}

.banner-img .tooltip-2 .ball {
    width: 40px;
    height: 40px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
}

.banner-img .tooltip-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 50%;
    background-color: rgba(70, 68, 68, 0.302);
    padding-block: 20px;
    padding-inline: 12px;
    gap: 15px;
    align-items: center;
    position: absolute;
    bottom: 11%;
    left: -23%;
}

#count-2 {
    font-size: 2rem;
    color: white;
    font-weight: 800;
    margin-bottom: 4px;
}

/* --banner style end---- */
/* ----------header style end */

/* main area :start */
/* change habits section style start*/
.habits-container .habits-header {
    max-width: 670px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: clamp(2rem, 4vw, 3.625rem);
}

.habits-container .habits-img-box {
    width: 100%;
    text-align: center;
    justify-content: space-around;

}

.habits-container .habits-img-box img {
    border-radius: 50%;
    margin-bottom: clamp(1.375rem, 2vw, 1.875rem);
    object-fit: contain;
}

.habits-container .habits-img-box h5 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}



/* change habits section style start*/
/* main area :end */