/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter {
    font-family: "Inter", sans-serif;
}

/* google font */

/* shared style start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
}

/* text color */
.text-color {
    color: white;
}

.container {
    max-width: min(90%, 1060px);
    margin: 0 auto;
}

/* primary color orange */
.primary-color {
    color: rgba(230, 83, 60, 1);
}

/* gray p tag color */
.gray-color {
    color: rgba(255, 255, 255, 0.5);
}

/* info text p tag */
.info-details {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.display-flex {
    display: flex;
}

/* shared style end */

/* ----------header style start */

/* nav area style start */
.nav-container {
    margin-top: clamp(1.125rem, 2vw, 1.5rem);
    justify-content: space-between;
    align-items: center;
}

.nav-container .nav-logo {
    font-size: clamp(1.75rem, 3vw, 2.25rem);
    font-weight: 800;
    font-style: italic;
}

.nav-container .menu {
    gap: clamp(1.75rem, 4vw, 3rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
    padding: 12.5px 5px;
}

.menu .menu-list {
    list-style: none;
}

.menu .home-menu {
    background-color: rgba(230, 83, 60, 1);
    padding: 8px 20px;
    border-radius: 46px;
}


.menu .menu-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.menu-icon{
    display: none;
}
    /* nav area style end */
/* ----------header style end */